<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RNP</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="../../Dash/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="../../Dash/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../../Dash/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="../../Dash/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../../Dash/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="../../Dash/assets/js/Lightweight-Chart/cssCharts.css"/>
</head>
<body>
    <div id="wrapper"  style="background-color: #001f5d">
        <div th:replace="Dashboard/shared/header"></div>

        <!--/. NAV TOP  -->
        <div th:replace="Dashboard/shared/sidebar"></div>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper"  style="background-color: #87ceeb" >
            <div class="header"  style="background-color: #87ceeb">
                <h1 class="page-header">
                    Edit Page
                </h1>


            </div>

            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-action">
                                Add RNP member
                            </div>
                            <div class="card-content">
                                <form class="col s12" method="post" th:action="@{/admin/update/{id}(id=${budded.id})}" th:object="${budded}">

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input type="text"  id="first_name" class="validate" th:field="*{firstName}" required />
                                            <label for="first_name">First Name</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input type="text" id="last_name"  class="validate" th:field="*{lastName}" required />
                                            <label for="last_name">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="tel" id="phone" th:field="*{phone}" class="validate" required/>
                                            <label for="phone">Phone</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label >Gender</label><br/><br/>
                                            <input type="radio" th:field="*{gender}" id="male" name="gender" value="Male">
                                            <label for="male">Male</label><br>
                                            <input type="radio" id="female" th:field="*{gender}" name="gender" value="Female">
                                            <label for="female">Female</label><br>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label >Date of Birth</label><br/><br/>
                                            <input type="date" th:field="*{dob}" id="dob" class="validate" required/>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="text" id="address" th:field="*{address}" class="validate" required/>
                                            <label for="address">Address</label>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="text" id="email" th:field="*{email}" class="validate" required/>
                                            <label for="email">Email</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label >Martial Status</label><br/><br/>
                                            <input type="radio" id="married" th:field="*{martialStatus}" name="martialStatus" value="Married">
                                            <label for="married">Married</label><br>
                                            <input type="radio" th:field="*{martialStatus}" id="widowed" name="martialStatus" value="Widowed">
                                            <label for="widowed">Widowed</label><br>
                                            <input type="radio" th:field="*{martialStatus}" id="separated" name="martialStatus" value="Separated">
                                            <label for="separated">Separated</label><br>
                                            <input type="radio" th:field="*{martialStatus}" id="divorced" name="martialStatus" value="Divorce">
                                            <label for="divorced">Divorce</label><br>
                                            <input type="radio" th:field="*{martialStatus}" id="single" name="martialStatus" value="Single">
                                            <label for="single">Single</label><br>

                                        </div>
                                    </div>


                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="submit" value="Submit" class="btn btn-danger" />
                                        </div>
                                    </div>
                                </form>
                                <div class="clearBoth"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer><p>All right reserved</p></footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="../../Dash/assets/js/jquery-1.10.2.js"></script>

    <!-- Bootstrap Js -->
    <script src="../../Dash/assets/js/bootstrap.min.js"></script>

    <script src="../../Dash/assets/materialize/js/materialize.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="../../Dash/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="../../Dash/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="../Dash/assets/js/morris/morris.js"></script>


    <script src="../../Dash/assets/js/easypiechart.js"></script>
    <script src="../../Dash/assets/js/easypiechart-data.js"></script>

    <script src="../../Dash/assets/js/Lightweight-Chart/jquery.chart.js"></script>

    <!-- Custom Js -->
    <script src="../../Dash/assets/js/custom-scripts.js"></script>


</body>
</html>

